{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="container text-center">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="card" style="margin-top: 30px;">
            <h1 class="p-2">Register</h1>
            <div class="m-auto" style="background-color: lightgray; height:1px; width:80%;"></div>
            <div style="width:70%; margin: 0 auto; padding: 15px;">
                <p> Veuillez renseigner les champs ci-dessous pour l'inscription</p>
                {% if message != null %}
                    {{ message }}
                {% endif %}
                {{ form_start(registrationForm) }}
                <div class="m-2">
{#                    {{ form_row(registrationForm.email) }}#}
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}

                </div>
                <div class="m-2">
{#                    {{ form_row(registrationForm.plainPassword, {#}
{#                        label: 'Password'#}
{#                    }) }}#}
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                </div>
                <div class="m-2">
{#                    {{ form_row(registrationForm.nom) }}#}
                    {{ form_label(registrationForm.nom) }}
                    {{ form_widget(registrationForm.nom) }}
                </div>
                <div class="m-2">
{#                    {{ form_row(registrationForm.prenom) }}#}
                    {{ form_label(registrationForm.prenom) }}
                    {{ form_widget(registrationForm.prenom) }}
                </div>
                <div class="m-2">
{#                    {{ form_row(registrationForm.username) }}#}
                    <div style="font-size: 15px;">
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username) }}
                    </div>
                </div>
                <div class="m-2">
                    {#                    {{ form_row(registrationForm.username) }}#}
                    <div style="font-size: 15px;">
                        {{ form_row(registrationForm.date_naissance) }}
                    </div>
                </div>

                <div class="m-1 d-flex flex-column justify-content-center align-items-center ">
{#                    {{ form_row(registrationForm.agreeTerms) }}#}
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>
                <div class="m-auto" style="background-color: lightgray; height:1px; width:80%;"></div>
                <button type="submit" class="btn btn-info mt-3">Register</button>
                {{ form_end(registrationForm) }}
            </div>

        </div>
    </section>

{% endblock %}
