{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container col-lg-8 text-center">
    <div class="card" style="margin-top: 50px;">
        <h1>Modifier le brasseur</h1>
        <div style="height:1px; background-color:darkgoldenrod; width:80%; margin:0 auto;"></div>

        <div style="width:70%; margin: 0 auto; padding: 15px;">
        {{ form_start(form) }}
            <div class="form-group m-2">
                {{ form_label(form.brasseur) }}
                {{ form_widget(form.brasseur)  }}
            </div>
            <button class="btn btn-outline-info mt-2" type="submit">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
        <a href="{{ path('admin_brasseurs') }}" class="mt-3 btn btn-outline-secondary">Retour aux brasseurs</a>
</div>
{% endblock %}
