{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main class="container">
    <h2>Modifier l'utilisateur</h2>
    {{ form_start(form) }}
        {{ form_label(form.email)}}
        {{ form_widget(form.email) }}

        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}

        <button class="btn btn-outline-info" type="submit">Modifier</button>
    {{ form_end(form) }}

</main>
{% endblock %}
