{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container col-lg-8 text-center">
    <div class="card" style="margin-top: 50px;">
    <h1 class="p-2"> Page d'administration des utilisateurs </h1>
    <div style="height:1px; background-color:darkgoldenrod; width:80%; margin:0 auto;"></div>
    <section style="width:100%; margin: 0 auto; padding: 15px;">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom - Prénom</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}  {{ user.prenom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('admin_edit_users', { 'id' : user.id}) }}">Modifier</a>
                            <a class="btn btn-danger" href="{{ path('admin_delete_users', {'id' :user.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </div>
    <a class="btn btn-outline-secondary mt-3" href="{{ path('admin_index') }}">Retour à l'index admin</a>
</div>
{% endblock %}
